state, submitTime, 1,10, queueTime,runTime, NumMaps, avgMapTime, avgReduceTime, avgShuffleTime, avgMergeTime, NumReduce, HDFS_INPUT_SIZE, HDFS_OUTPUT_SIZE,MAP_CPU_USAGE_MSEC, REDUCE_CPU_USAGE_MSEC, MAP_MEM_USAGE_B,REDUCE_MEM_USAGE_B, HIVE_RECORDS_IN, HIVE_RECORDS_OUT, HIVE_RECORDS_INTERMEDIATE, SLOTS_MILLIS_MAPS,SLOTS_MILLIS_REDUCES, TOTAL_LAUNCHED_MAPS, TOTAL_LAUNCHED_REDUCES,DATA_LOCAL_MAPS, RACK_LOCAL_MAPS, MILLIS_MAPS, MILLIS_REDUCES,VCORES_MILLIS_MAPS, VCORES_MILLIS_REDUCES, MB_MILLIS_MAPS, MB_MILLIS_REDUCES, PHMAP_MEM_USAGE_B, PHREDUCE_MEM_USAGE_B,PHPHYSICAL_MEMORY_B, jobid, job.maps, query, outputdir,scratchdir, sessionid, query.id, local.scratchdir, tmpouput,user.name, job, n_inputs, inputdir1, workflow.node,workflow.id1, workflow.dag, table.name, submit_ts,workflow.id, workflow.dag, table.name, submit_ts
state, submitTime, 2, 20, queueTime,runTime, NumMaps, avgMapTime, avgReduceTime, avgShuffleTime, avgMergeTime, NumReduce, HDFS_INPUT_SIZE, HDFS_OUTPUT_SIZE,MAP_CPU_USAGE_MSEC, REDUCE_CPU_USAGE_MSEC, MAP_MEM_USAGE_B,REDUCE_MEM_USAGE_B, HIVE_RECORDS_IN, HIVE_RECORDS_OUT, HIVE_RECORDS_INTERMEDIATE, SLOTS_MILLIS_MAPS,SLOTS_MILLIS_REDUCES, TOTAL_LAUNCHED_MAPS, TOTAL_LAUNCHED_REDUCES,DATA_LOCAL_MAPS, RACK_LOCAL_MAPS, MILLIS_MAPS, MILLIS_REDUCES,VCORES_MILLIS_MAPS, VCORES_MILLIS_REDUCES, MB_MILLIS_MAPS, MB_MILLIS_REDUCES, PHMAP_MEM_USAGE_B, PHREDUCE_MEM_USAGE_B,PHPHYSICAL_MEMORY_B, jobid, job.maps, query, outputdir,scratchdir, sessionid, query.id, local.scratchdir, tmpouput,user.name, job, n_inputs, inputdir2, workflow.node,workflow.id2, workflow.dag, table.name, submit_ts,workflow.id, workflow.dag, table.name, submit_ts
state, submitTime, 33, 36, queueTime,runTime, NumMaps, avgMapTime, avgReduceTime, avgShuffleTime, avgMergeTime, NumReduce, HDFS_INPUT_SIZE, HDFS_OUTPUT_SIZE,MAP_CPU_USAGE_MSEC, REDUCE_CPU_USAGE_MSEC, MAP_MEM_USAGE_B,REDUCE_MEM_USAGE_B, HIVE_RECORDS_IN, HIVE_RECORDS_OUT, HIVE_RECORDS_INTERMEDIATE, SLOTS_MILLIS_MAPS,SLOTS_MILLIS_REDUCES, TOTAL_LAUNCHED_MAPS, TOTAL_LAUNCHED_REDUCES,DATA_LOCAL_MAPS, RACK_LOCAL_MAPS, MILLIS_MAPS, MILLIS_REDUCES,VCORES_MILLIS_MAPS, VCORES_MILLIS_REDUCES, MB_MILLIS_MAPS, MB_MILLIS_REDUCES, PHMAP_MEM_USAGE_B, PHREDUCE_MEM_USAGE_B,PHPHYSICAL_MEMORY_B, jobid, job.maps, query, outputdir,scratchdir, sessionid, query.id, local.scratchdir, tmpouput,user.name, job, n_inputs, inputdir3, workflow.node,workflow.id2, workflow.dag, table.name, submit_ts,workflow.id, workflow.dag, table.name, submit_ts
state, submitTime, 4, 40, queueTime,runTime, NumMaps, avgMapTime, avgReduceTime, avgShuffleTime, avgMergeTime, NumReduce, HDFS_INPUT_SIZE, HDFS_OUTPUT_SIZE,MAP_CPU_USAGE_MSEC, REDUCE_CPU_USAGE_MSEC, MAP_MEM_USAGE_B,REDUCE_MEM_USAGE_B, HIVE_RECORDS_IN, HIVE_RECORDS_OUT, HIVE_RECORDS_INTERMEDIATE, SLOTS_MILLIS_MAPS,SLOTS_MILLIS_REDUCES, TOTAL_LAUNCHED_MAPS, TOTAL_LAUNCHED_REDUCES,DATA_LOCAL_MAPS, RACK_LOCAL_MAPS, MILLIS_MAPS, MILLIS_REDUCES,VCORES_MILLIS_MAPS, VCORES_MILLIS_REDUCES, MB_MILLIS_MAPS, MB_MILLIS_REDUCES, PHMAP_MEM_USAGE_B, PHREDUCE_MEM_USAGE_B,PHPHYSICAL_MEMORY_B, jobid, job.maps, query, outputdir,scratchdir, sessionid, query.id, local.scratchdir, tmpouput,user.name, job, n_inputs, inputdir, workflow.node,workflow.id3, workflow.dag, table.name, submit_ts
state, submitTime, 45, 50, queueTime,runTime, NumMaps, avgMapTime, avgReduceTime, avgShuffleTime, avgMergeTime, NumReduce, HDFS_INPUT_SIZE, HDFS_OUTPUT_SIZE,MAP_CPU_USAGE_MSEC, REDUCE_CPU_USAGE_MSEC, MAP_MEM_USAGE_B,REDUCE_MEM_USAGE_B, HIVE_RECORDS_IN, HIVE_RECORDS_OUT, HIVE_RECORDS_INTERMEDIATE, SLOTS_MILLIS_MAPS,SLOTS_MILLIS_REDUCES, TOTAL_LAUNCHED_MAPS, TOTAL_LAUNCHED_REDUCES,DATA_LOCAL_MAPS, RACK_LOCAL_MAPS, MILLIS_MAPS, MILLIS_REDUCES,VCORES_MILLIS_MAPS, VCORES_MILLIS_REDUCES, MB_MILLIS_MAPS, MB_MILLIS_REDUCES, PHMAP_MEM_USAGE_B, PHREDUCE_MEM_USAGE_B,PHPHYSICAL_MEMORY_B, jobid, job.maps, query, outputdir,scratchdir, sessionid, query.id, local.scratchdir, tmpouput,user.name, job, n_inputs, inputdir, workflow.node,workflow.id3, workflow.dag, table.name, submit_ts
